<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="https://xlzy520.cn/icons/lo.ico">
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js"></script>
    <title>Title</title>
    <style>
        .deliver,.order, .stock{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        label{
            display: inline-block;
            width: 48px;
        }
        .deliver  label{
            color: #1296db;
        }
        .order label{
            color: #d12bdc;
        }
        .stock label{
            width: 116px;
            color: #db7c62;
        }
        .car-model-item:nth-child(n+5), .stock .el-form-item:nth-child(n+4){
            padding-top: 10px;
        }
        [v-cloak] {
            display: none;
        }
        .fixBtn{
            position: fixed;
            right: 20px;
            bottom: 60px;
            z-index: 9999;
        }
        .copy2clip{
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <el-form ref="form" :model="QRform" label-width="200px">
        <el-form-item label="温州祥凯">
            <el-date-picker
                    v-model="QRform.date"
                    type="date"
                    format="MM 月 dd 日"
                    value-format="MM-dd">
                    placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="截止本日前本月交付：">
            <el-input-number v-model="QRform.jiezhijiaofu" controls-position="right" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="截止本日前本月订单：">
            <el-input-number v-model="QRform.jiezhidingdan" controls-position="right" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="新增交付" style="color: #1296db">{{deliverTip}}</el-form-item>
        <el-form-item label="(新增交付)汽车型号:">
            <div class="deliver">
                <div class="car-model-item hu7FLY">
                    <label>虎7FLY:</label>
                    <el-input-number v-model="deliver.hu7FLY" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu7">
                    <label>虎7:</label>
                    <el-input-number v-model="deliver.hu7" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item ai5">
                    <label>艾5:</label>
                    <el-input-number v-model="deliver.ai5" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu3">
                    <label>虎3:</label>
                    <el-input-number v-model="deliver.hu3" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu3X">
                    <label>虎3X:</label>
                    <el-input-number v-model="deliver.hu3X" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu5X">
                    <label>虎5X:</label>
                    <el-input-number v-model="deliver.hu5X" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item ruihu8">
                    <label>瑞虎8:</label>
                    <el-input-number v-model="deliver.ruihu8" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item GX">
                    <label>GX:</label>
                    <el-input-number v-model="deliver.GX" controls-position="right" :min="0"></el-input-number>
                </div>
            </div>
        </el-form-item>
        <el-form-item label="新增订单" style="color: #d12bdc">{{orderTip}}</el-form-item>
        <el-form-item label="(新增订单)汽车型号:">
            <div class="order">
                <div class="car-model-item hu7FLY">
                    <label>虎7FLY:</label>
                    <el-input-number v-model="order.hu7FLY" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu7">
                    <label>虎7:</label>
                    <el-input-number v-model="order.hu7" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item ai5">
                    <label>艾5:</label>
                    <el-input-number v-model="order.ai5" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu3">
                    <label>虎3:</label>
                    <el-input-number v-model="order.hu3" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu3X">
                    <label>虎3X:</label>
                    <el-input-number v-model="order.hu3X" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item hu5X">
                    <label>虎5X:</label>
                    <el-input-number v-model="order.hu5X" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item ruihu8">
                    <label>瑞虎8:</label>
                    <el-input-number v-model="order.ruihu8" controls-position="right" :min="0"></el-input-number>
                </div>
                <div class="car-model-item GX">
                    <label>GX:</label>
                    <el-input-number v-model="order.GX" controls-position="right" :min="0"></el-input-number>
                </div>
            </div>
        </el-form-item>
        <el-form-item label="库存信息：" style="color: #c36d6d">
            {{stockTip}}
            <el-form :inline="true">
                <div class="stock">
                    <el-form-item label="截止未交车：">
                        <el-input-number v-model="stock.weijiaoche" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="截止库存：">
                        <el-input-number v-model="stock.kucun" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="在库：">
                        <el-input-number v-model="stock.zaiku" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="在途：">
                        <el-input-number v-model="stock.zaitu" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="匹配可交车：">
                        <el-input-number v-model="stock.kejiaoche" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item label="本月截止提车：">

                        <el-input-number v-model="benyuejiezhitiche" controls-position="right" :min="0"></el-input-number>
                    </el-form-item>
                </div>
            </el-form>
        </el-form-item>

    </el-form>
    <el-form label-width="200px" :inline="true">
        <el-form-item label="金融贷款：" :precision="2">
            <el-input-number v-model="loan" controls-position="right" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="三方银票：" :precision="2">
            <el-input-number v-model="yinpiao" controls-position="right" :min="0"></el-input-number>
        </el-form-item>
        <el-form-item label="备注：">
            <el-input
                    style="width: 500px"
                    type="textarea"
                    :rows="2"
                    placeholder="请输入内容"
                    v-model="remarks">
            </el-input>
        </el-form-item>
    </el-form>
    <div class="fixBtn">
        <el-button type="success" @click="getResult">预览</el-button>
    </div>
    <el-dialog title="结果" :visible.sync="resultVisible">
        <el-card shadow="hover">
            <el-input
                    type="textarea"
                    :rows="10"
                    v-model="result">
            </el-input>
            <div class="copy2clip">
                <el-button type="primary" icon="document" @click="handleCopy(result,$event)" style="padding-top: 10px">复制到剪贴板</el-button>
            </div>
        </el-card>
    </el-dialog>
</div>
<script>
    function clipboardSuccess() {
        Vue.prototype.$message({
            message: '复制成功',
            type: 'success',
            duration: 1500
        })
    }

    function clipboardError() {
        Vue.prototype.$message({
            message: '复制失败',
            type: 'error'
        })
    }
    new Vue({
        el:'#app',
        data:function () {
            return {
                QRform: {
                    title: '温州祥凯',
                    date: new Date().getMonth()+1+ '-'+new Date().getDate(),
                    jiezhijiaofu: 0,
                    jiezhidingdan: 0
                },
                deliver:{
                    hu7FLY: 0,
                    hu7: 0,
                    ai5: 0,
                    hu3: 0,
                    hu3X: 0,
                    hu5X: 0,
                    ruihu8: 0,
                    GX: 0,
                },
                order:{
                    hu7FLY: 0,
                    hu7: 0,
                    ai5: 0,
                    hu3: 0,
                    hu3X: 0,
                    hu5X: 0,
                    ruihu8: 0,
                    GX: 0,
                },
                stock: {
                    weijiaoche: 0,
                    kucun: 222,
                    zaiku: 0,
                    zaitu: 0,
                    kejiaoche: 0
                },
                benyuejiezhitiche: 0,
                loan: 1051747.62,
                yinpiao: 15965.73,
                remarks: '调入豪龙一台',
                resultVisible: false
            }
        },
        computed: {
            deliverTip(){
                const deliverArr =Object.values(this.deliver)
                const countDay = deliverArr.reduce((previousValue, currentValue, array) => previousValue + currentValue)
                return `新增交付${countDay}台，本月累计交付${countDay + this.QRform.jiezhijiaofu}台（含豪龙0）(虎7FLY/${this.deliver.hu7FLY}台,虎7/${this.deliver.hu7}台.艾5/${this.deliver.ai5}台.虎3/${this.deliver.hu3}台,虎3X/${this.deliver.hu3X}台,虎5X/${this.deliver.hu5X}台,瑞虎8/${this.deliver.ruihu8}台，GX/${this.deliver.GX}台）；`
            },
            orderTip(){
                const orderArr =Object.values(this.order)
                const countDay = orderArr.reduce((previousValue, currentValue, array) => previousValue + currentValue)
                return `新增订单${countDay}台，本月累计订车${this.QRform.jiezhidingdan+countDay}台（含豪龙1）(虎7FLY/${this.order.hu7FLY}台,虎7/${this.order.hu7}台.艾5/${this.order.ai5}台.虎3/${this.order.hu3}台,虎3X/${this.order.hu3X}台,虎5X/${this.order.hu5X}台,瑞虎8/${this.order.ruihu8}台，GX/${this.order.GX}台）；` },
            stockTip(){
                this.stock.zaitu = this.stock.kucun - this.stock.zaiku
                return `截止未交车${this.stock.weijiaoche}个，截止库存${this.stock.kucun} 台在库${this.stock.zaiku}，在途${this.stock.zaitu}（ 匹配可交车${this.stock.kejiaoche}台）；`
            },
            result() {
                return `${this.QRform.title}${this.QRform.date.replace('-','.')}\r\n  ${this.deliverTip}${this.orderTip}${this.stockTip}本月截止提车${this.benyuejiezhitiche}台，金融贷款${this.loan}三方银票${this.yinpiao}        注：${this.remarks}`
            }
        },
        methods:{
            getResult() {
                this.resultVisible = true
            },
            handleCopy(text, event) {
                const clipboard = new ClipboardJS(event.target, {
                    text: () => text
                })
                clipboard.on('success', () => {
                    clipboardSuccess()
                    clipboard.off('error')
                    clipboard.off('success')
                    clipboard.destroy()
                })
                clipboard.on('error', () => {
                    clipboardError()
                    clipboard.off('error')
                    clipboard.off('success')
                    clipboard.destroy()
                })
                clipboard.onClick(event)
            },
        },
        mounted() {
            this.$nextTick(function () {
            })
        }
    })
</script>
</body>
</html>