<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>uploadExcel Demo</title>
  <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css"/>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/element-ui/lib/index.js"></script>
  <script src="../node_modules/js-xlsx/dist/xlsx.full.min.js"></script>
  <style>
    #excel-upload-input {
      display: none;
      z-index: -9999;
    }
    #anime {
      position: fixed;
      bottom: 60px;
      right: 40px;
      z-index: 100;
    }
  </style>
</head>

<body>
<img src="1723.gif" id="anime" ondrag="true"/>
<div id="app">
  <upload-excel-button @on-selected-file="selected"></upload-excel-button>
  {{JSON.stringify(count)}}
  <!--<el-tabs v-model="Sheets" @tab-click="handleClick" type="card">-->
  <!--<el-tab-pane v-for="item in SheetNames" :key="item.id" :label="item" :name="item"></el-tab-pane>-->
  <!--</el-tabs>-->
  <h3>以下为不能自动统计的数据：</h3>
  <el-table :data="uncount" border highlight-current-row style="width: 100%;margin-top:20px;">
    <el-table-column v-for='item of tableHeader' :prop="item" :label="item" :key='item' show-overflow-tooltip></el-table-column>
  </el-table>
</div>
<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        visible: false,
        AllTableData: [],
        AllTableHeader: [],
        tableData: [],
        tableHeader: [],
        Sheets: 0,
        SheetNames: [],
        count: {
          '亮片': 0,
          '菱格大': 0,
          '秋千': 0,
          '蝴蝶': 0,
          '酒神': 0,
          '盾牌': 0,   //编织包手动统计
          '耳朵': 0,
          '铆钉': 0,
          '豆豆': 0,
          '邮差': 0,
          '菱格小': 0,
          '流苏': 0,
          '南瓜': 0,
          '剑桥': 0
        },
        uncount: [],
        type: [
          '亮片',
          '菱格大',
          '秋千',
          '蝴蝶',
          '酒神',
          '盾牌',
          '耳朵',
          '铆钉',
          '豆豆',
          '邮差',
          '菱格小',
          '流苏',
          '南瓜',
          '剑桥'
        ],
        flag: false,
        numFlag: false,
      };
    },
    methods: {
      dataMove(i) {
        // TODO 1、多类型多数字需要分开
        // TODO 2、移除南瓜色
        // TODO 3、移除数字1
        // TODO 4、同一类型多个颜色分开
        this.tableData = this.AllTableData[i];
        let lv = 0
        this.tableData.forEach((item,index) => {
          this.flag = false  //不能判断类型的标志
          for (let j = 0; j < 14; j++) {
            lv++
            const typeIndexArr = this.searchSubStr(item.model, this.type[j])//获取这个类型在这个信息中出现的位置
            if (typeIndexArr.length>0){
              this.flag = true
              if (typeIndexArr.length === 1){    //  同一个类型只存在一个
                this.numFlag = false   //一个数字都没有的标志
                for (let k = 2; k < 10; k++) {
                  const numAddressArr = this.searchSubStr(item.model, k)  //获取这个数字在这个信息中出现的位置
                  if (numAddressArr.length===0){    //如果一个数字都没出现，那么默认为1
                    if (k===9&&!this.numFlag){
                      this.count[this.type[j]]+=Number(item.count||1)
                    }
                  }else {
                    // TODO 多个不同类型多个数字
                    this.numFlag = true
                    console.log(this.type[j]+':'+this.count[this.type[j]],item.model,'k:'+k);
                    this.count[this.type[j]]+=Number(item.count||1)*k
                  }
                }
              } else {   //存在多个相同类型
                console.log('存在多个类型!第'+index+'行：', item.model);
                let arr = item.model.match(/\d/g)
                if (arr===null){  //不存在数字
                  this.count[this.type[j]]+=Number(item.count|| 1 )*typeIndexArr.length
                } else {
                  if (arr.every(item=> item === 1)){
                    this.count[this.type[j]]+=Number(item.count||1)
                  }else {
                    this.count[this.type[j]]+=Number(item.count||1)*typeIndexArr.length
                  }
                }
                // TODO 解决多个类型多个数字   多个类型一个数字
              }
            }
            if (!this.flag&&j===13) {
              this.uncount.push(item)
            }
            if (j===13){
              this.typeCount = 0
            }
          }
        });
        console.log('统计数据：',JSON.stringify(this.count))
        console.log('不能归类的数据：',this.uncount);
        console.log('计算次数：',lv);
        this.tableHeader = this.AllTableHeader[i];
      },
      selected: function (data, i) {
        this.AllTableData[i] = data[i].results;
        this.AllTableHeader[i] = data[i].header;
        this.SheetNames = data[i].SheetName;
        this.dataMove(i);
      },
      handleClick: function (tab) {
        this.Sheets = tab.name;
        this.dataMove(tab.index);
      },
      searchSubStr(str,subStr){
        let positions = []
        let pos = str.indexOf(subStr);
        while(pos>-1){
          positions.push(pos);
          pos = str.indexOf(subStr,pos+1);
        }
        return positions
      }
    },
    mounted: function () {
      this.$nextTick(function () {
      });
    },
    components: {
      uploadExcelButton: {
        template:
        '<div class="el-upload">' +
        '     <el-button :loading="loading" type="primary" @click="handleUpload">选择excel上传</el-button>' +
        '     <input id="excel-upload-input" type="file" accept=".xlsx,.xls" class="c-hide" @change="handleFileChange">' +
        "</div>",
        data: function () {
          return {
            loading: null,
            excelData: []
          };
        },
        methods: {
          generateDate: function (i, table) {
            this.excelData[i] = {};
            this.excelData[i].SheetName = table.SheetName;
            this.excelData[i].header = table.header;
            this.excelData[i].results = table.results;
            this.loading = false;
            this.$emit("on-selected-file", this.excelData, i);
          },
          handleUpload: function () {
            document.getElementById("excel-upload-input").value = '';
            document.getElementById("excel-upload-input").click();
          },
          handleFileChange: function (e) {
            let that = this;
            that.loading = true;
            const files = e.target.files;
            const itemFile = files[0]; // only use files[0]
            const reader = new FileReader();
            reader.onload = function (e) {
              const data = e.target.result;
              const fixedData = that.fixdata(data);
              const workbook = XLSX.read(btoa(fixedData), {
                type: "base64"
              });
              const firstSheetName = workbook.SheetNames[0];  //先只取第一个
              const worksheet = workbook.Sheets[firstSheetName];
              const header = that.get_header_row(worksheet);
              const results = XLSX.utils.sheet_to_json(worksheet);
              let table_data = {
                header: header,
                results: results,
                SheetName: workbook.SheetNames
              };
              that.generateDate(firstSheetName, table_data);
              // for (let i in workbook.SheetNames) {
              //   const firstSheetName = workbook.SheetNames[i];
              //   const worksheet = workbook.Sheets[firstSheetName];
              //   const header = that.get_header_row(worksheet);
              //   const results = XLSX.utils.sheet_to_json(worksheet);
              //   let table_data = {
              //     header: header,
              //     results: results,
              //     SheetName: workbook.SheetNames
              //   };
              //   that.generateDate(i, table_data);
              // }
            };
            reader.readAsArrayBuffer(itemFile);
          },
          fixdata: function (data) {
            let o = "";
            let l = 0;
            const w = 10240;
            for (; l < data.byteLength / w; ++l)
              o += String.fromCharCode.apply(
                  null,
                  new Uint8Array(data.slice(l * w, l * w + w))
              );
            o += String.fromCharCode.apply(
                null,
                new Uint8Array(data.slice(l * w))
            );
            return o;
          },
          get_header_row: function (sheet) {
            const headers = [];
            const range = XLSX.utils.decode_range(sheet["!ref"]);
            let C;
            const R = range.s.r;
            /* start in the first row */
            for (C = range.s.c; C <= range.e.c; ++C) {
              /* walk every column in the range */
              let cell =
                  sheet[
                      XLSX.utils.encode_cell({
                        c: C,
                        r: R
                      })
                      ];
              /* find the cell in the first row */
              let hdr = "UNKNOWN " + C; // <-- replace with your desired default
              if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
              headers.push(hdr);
            }
            return headers;
          }
        }
      }
    }
  });
  Vue.component("uploadExcelButton", {
    template:
    "<div>" +
    '        <el-button :loading="loading" type="primary" @click="handleUpload">选择excel上传</el-button>' +
    '        <input id="excel-upload-input" type="file" accept=".xls .xlsx" class="c-hide" @change="handleFileChange">' +
    "    </div>"
  });
</script>
</body>
</html>
