<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>单图反馈</title>
    <link rel="stylesheet" href="feedback.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <!--<link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">-->
</head>
<body>
<div id="app">
    <el-dialog title="意见反馈" :visible.sync="dialogVisible" width="450px" :top="top">
        <div class="feedback-type-container" v-if="!feedback_modal_content">
            <el-radio-group v-model="feedback_type">
                <el-radio :label="1">功能异常</el-radio>
                <el-radio :label="2">产品建议</el-radio>
                <el-radio :label="3">其他问题</el-radio>
            </el-radio-group>
        </div>

        <div class="feedback-modal-text-container" v-if="!feedback_modal_content">
                    <textarea placeholder="请填写您的问题或建议（限200字以内）" maxlength="200" spellcheck="false"
                              class="feedback-modal-text" :class="{ 'text-error':text_error}" v-model="feedback_modal_text">
                    </textarea>
            <div class="feedback-modal-text-number" :class="{ 'text-error':text_error}">
                {{feedback_modal_text_number}}/200
            </div> <!---->
            <div class="feedback-modal-error-tip" v-if="text_error">
              {{feedback_type_error_tip}}    请填写内容
            </div>
        </div>

        <div class="feedback-modal-upload" @click="trigger_img_upload" v-if="!img_import_success">上传截图</div> <!---->
        <div class="feedback-modal-img-container" v-if="img_import_container">
            <img :src="img_base64" class="feedback-modal-img">
            <div class="feedback-modal-img-del" @click="feedback_modal_img_del">删除</div>
        </div>

        <div class="feedback-modal-content" v-if="feedback_modal_content">
            <div class="feedback-modal-result" >
                <span class="ai-icon ai-icon-smile"></span>
                <span class="feedback-modal-thank">感谢您的反馈，我们会继续努力</span>
            </div>
            <div class="feedback-modal-btn" @click="feedback_sumit_success">确定</div>
        </div>

        <input type="file" id="feedback_img_upload" accept="image/png, image/bmp, image/jpg, image/jpeg"
               style="display: none;" @change="handle_img_change">

        <div slot="footer" class="feedback-modal-footer">
                <div class="feedback-modal-btn feedback-modal-submit" @click="feedback_modal_submit" v-if="!feedback_modal_content">提交</div>
        </div>
    </el-dialog>
</div>

<script>
    new Vue({
        el:"#app",
        data:function () {
            return {
				dialogVisible:true,
				feedback_modal_text:'',
				feedback_modal_text_number:0,
                img_base64:'',
				img_import_success:false,
				feedback_modal_content:false,
				img_import_container:false,
                text_error:false,
                top:'10vh',
                feedback_type:"",
				feedback_type_error_tip:""
            }
		},
        methods:{
			trigger_img_upload:function () {
				document.getElementById('feedback_img_upload').click()
			},
            handle_img_change:function (e) {
				let that=this
				const file = e.target.files[0];
				const reader = new FileReader();
				reader.readAsDataURL(file); // 读出 base64
				reader.onloadend =()=> {
					// 图片的 base64 格式, 可以直接当成 img 的 src 属性值
					that.img_base64 = reader.result
					that.img_import_success=true
                    that.img_import_container=true
                    that.top="1vh"
					// 下面逻辑处理
				};
			},
			feedback_modal_img_del:function () {
                this.img_import_success=false
                this.img_import_container=false
                this.top="10vh"
			},
			feedback_modal_submit:function () {
				let that=this
                if (this.feedback_type===""){
					this.feedback_type_error_tip="请选择类型"
                }else {
					this.feedback_type_error_tip=""
                }
                if (this.feedback_modal_text.length===0){
						this.text_error=true
                }else {
						$.ajax("https://www.easy-mock.com/mock/5a7289488d0c633b9c4adca2/feedback",{
							method:'post',
							img:this.img_base64
						}).then(function (res) {
							if (res){
								that.img_import_success=true
								that.feedback_modal_content=true
								that.img_import_container=false
								that.top="15vh"
							}
						})

				}

			},
            feedback_sumit_success:function () {
                document.getElementsByClassName('el-dialog__headerbtn')[0].click()
			}

        },
        watch:{
			feedback_modal_text:function () {
				this.feedback_modal_text_number=this.feedback_modal_text.length
                if (this.feedback_modal_text.length!==0){
					this.text_error=false
                }
			}
        }
    })
</script>
</body>
</html>