<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="feedback.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
    <title>意见反馈后台管理</title>
</head>
<body>
<div id="app">
    <div class="feedback_manage_header">
        <el-row>
            <el-col :span="2">
                <div class="grid-content bg-purple">
                问题类型
            </div>
            </el-col>
            <el-col :span="2"><div class="grid-content bg-purple-light">
                <el-select v-model="value" placeholder="全部">
                    <el-option v-for="item in question_types" :key="item.value" :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>
            </div></el-col>
            <el-col :span="2">
                <div class="grid-content bg-purple">
                    反馈日期：
                </div>
            </el-col>
            <el-col :span="2"><div class="grid-content bg-purple">
                <div class="block">
                    <span class="demonstration">默认</span>
                    <el-date-picker
                            v-model="value6"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                    </el-date-picker>
                </div>
            </div></el-col>
            <el-col :span="2">
                <div class="grid-content bg-purple">
                    反馈用户
                </div>
            </el-col>
            <el-col :span="2"><div class="grid-content bg-purple-light">
                <el-input v-model="user_uid" clearable="" placeholder="请输入用户名/手机号"></el-input>
            </div></el-col>
        </el-row>
    </div>
</div>
<script>
    new Vue({
        el:'#app',
        data:function () {
            return {
				question_types:[
					{label:"da", value:20},
					{label:"dad", value:200},
					{label:"daa", value:201},
                ],
				value:"",
                value6:""
            }
		}
    })
</script>
</body>
</html>